<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>932134140208-tbl7qjdh065h4gokplnqp163sqm9gbas.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.932134140208-tbl7qjdh065h4gokplnqp163sqm9gbas</string>
	<key>API_KEY</key>
	<string>AIzaSyDpdaZS0P-AdN4WIQfxVIdUTsmpPOAFpSI</string>
	<key>GCM_SENDER_ID</key>
	<string>932134140208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.optVerification</string>
	<key>PROJECT_ID</key>
	<string>nth-agent-393506</string>
	<key>STORAGE_BUCKET</key>
	<string>nth-agent-393506.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:932134140208:ios:3253d15eb813d599d9b0f5</string>
</dict>
</plist>